<!DOCTYPE html>
<html lang="en">
<head>
	<meta charseet="UTF-8">
	<title>Respuesta de correo</title>
</head>
<body>
	<p> <strong>Nombre</tstrong>{!!$name!!}</p>
	<p> <strong>Correo</tstrong>{!!$email!!}</p>
	<p> <strong>Mensaje</tstrong>{!!$mensaje!!}</p>

</body>
</html>



